<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="/assets/profile.jpg" class="gravatar">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>

</aside>

<style>
@import url(/assets/logos.css);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

#wrapper {
  text-align:center;
  left: 0;
  right: 0;
  margin: 0px auto;
  margin-bottom: 40px !important;
  width: 180px;
}

.social ul {
  position:relative;
  left:0;
  right:0;
  margin:-5px auto 0;
  color:#fff;
  height:46px;
  width:300px;
  padding:0;
  list-style:none;
}

.social ul li {
  font-size:20px;
  color:rgba(100,100,100,.5);
  cursor:pointer;
  width:60px;
  margin:0;
  padding:12px 0;
  text-align:center;
  float:left;
  display:block;
  height:22px;}

.social ul li:hover {color:rgba(50,50,50,.8);}
</style>

<div id="wrapper">
  <div class="social">
    <ul>
      <li class="entypo-twitter"></li>
      <li class="entypo-linkedin"></li>
      <li class="entypo-github"></li>      
    </ul>
  </div>
</div>
